@font-face {
  font-family: "Majalla";
  src: url("/font/majalla.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Majalla", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: #063e40;
  background-color: #ffffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  font-family: "Majalla", sans-serif;
}

#root {
  height: 100%;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #09595c;
  text-decoration: inherit;
}

a:hover {
  color: #063e40;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  color: #09595c;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Majalla", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

button:focus,
button:focus-visible {
  outline: 2px solid #09595c;
}
